.navbar {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.navbar > * {
	margin-left: 2rem;
	color: ##1e272e;
	text-decoration: none;
	transition: 200ms ease-in-out;
}
.navbar > *:hover {
	color: #e76f51;
}
