.Home-Page {
	width: 100%;
	background-image: url(./images/dogbg.png);
	scroll-behavior: smooth;
	background-size: cover;
}
.Home-Header {
	display: flex;
	justify-content: center;
	align-items: center;
}
